<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        <!-- Declares the input method service -->
        <service android:name="AdbIME"
            android:label="@string/keyboard_name"
            android:exported="false"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:settingsActivity="com.android.adbkeyboard.MainActivity">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
            <meta-data android:name="android.view.im" android:resource="@xml/methods" />
        </service>
        
        <!-- Main Activity (launcher for settings) -->
        <activity android:name="com.android.adbkeyboard.MainActivity"
            android:label="@string/app_name"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Settings Activity -->
        <activity android:name="com.android.adbkeyboard.SettingsActivity"
            android:label="@string/settings_title"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.Settings">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>